layout: index
description: Hexo est un framework de blog simple, rapide et puissant propulsé par Node.js.
subtitle: Un framework de blog simple et rapide
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Super rapide
      p.intro-feature-desc Node.js vous permet de bénéficier d'une vitesse de rendu incoyable. En quelques secondes, vous pouvez construire des centaines des fichiers.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Prise en charge du Markdown
      p.intro-feature-desc L'intégralité des fonctionnalités du GitHub Flavored MarkDown est supportée. Vous pouvez même utiliser la majorité des extensions d'Octopress dans Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Déploiement en une commande
      p.intro-feature-desc Vous n'avez besoin que d'une commande afin de déployer votre site vers GitHub Pages, Heroku ou d'autres sites.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title De nombreuses extensions
      p.intro-feature-desc Hexo dispose d'un puissant système d'extensions. Vous pouvez en installer davantage afin de prendre en charge Jade et CoffeeScript, par exemple.
